*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    flex-grow: 1;
}

h1{
    color: rgb(168, 13, 91);;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

main{
    display: flex;
    justify-content: center;
    gap: 300px;
    flex-grow: 1;
}

.texto4{
    background-color: rgb(168, 13, 91);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    width: 230px;
    padding: 5px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

img{
    margin: 18px;
    border-radius: 10px;
}

.botao{
    margin: 15px;
    width: 50px;
    padding:3px;
}

input{
    border-radius: 5px;
}

button{
    border-radius: 5px;
    padding: 2px;
}

#botao1{
    margin: 40px 20px 0 15px;
}
#botao2{
margin: 40px 0px 0 105px;
}